html {
    font-size: 16px;
}
.navbar-default {
    border: none;
    margin-bottom: 0;
    background-color: #003c61;
    border-radius: 0;
}
.navbar-default .navbar-brand {
    color: #0c3769;
    font-family: Montserrat;
    font-weight: 800;
    transform: scaleY(0.94);
}
.navbar-default .navbar-nav>li>a {
    color: white;
    font-family: Raleway;
    font-weight: 500;
    transform: scaleY(0.96);
}
.navbar-default .navbar-nav>li>a:visited {
    color: white;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #357dfc;
}
.navbar-default .navbar-nav>li>a:active {
    color: #357dfc;
}
a#active {
    color: #357dfc;
}
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-brand:hover {
    color: white;
}
.navbar-toggle {
    border: none;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #004877;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #357dfc;
}
.navbar-collapse {
    border: none;
}

/* ----- Headline ----- */

.about-bg-image {
    background-image: url('images/iot-about-background-main-1200.jpg');
    background-position: center center;
    background-size: cover;
    height: 450px;
}
.headline h2 {
    text-align: center;
    font-family: Raleway;
    font-weight: 700;
    transform: scaleY(0.91);
    font-size: 3.26rem;
    color: white;
    margin-top: 7rem;
}
.headline h1 {
    text-align: center;
    font-family: Raleway;
    font-weight: 800;
    transform: scaleY(0.94);
    font-size: 1.4rem;
    letter-spacing: -0.2px;
    color: white;
}
.headline h3 {
    text-align: center;
    font-family: Raleway;
    font-weight: 200;
    transform: scaleY(0.95);
    font-size: 1.14rem;
    letter-spacing: 2.15px;
    color: white;
    margin-top: -11px;
}
p.description {
    font-family: Raleway;
    font-weight: 300;
    font-size: 0.767rem;
    color: white;
    text-align: center;
    letter-spacing: 0.45px;
    color: white;
    margin-top: 15px;
}

/*------------------------------------------*/


/*----Main  Us----*/

h3 {
    font-family: Raleway;
    font-weight: bolder;
    font-size: 1.74rem;
    color: #0c3769;
    text-align: center;
}
h4 {
    font-family: Raleway;
    font-weight: 700;
    font-size: 1.26rem;
    color: #0c3769;
    text-align: center;
}
p.introduction {
    font-family: Heebo;
    font-weight: 300;
    font-size: 1.06rem;
    color: #0c3769;
    padding-right: 16px;
    margin-top: 15px;
    text-align: justify;
}
h5 {
    font-family: Raleway;
    font-weight: 700;
    font-size: 1rem;
    color: #0c3769;
}
h5.about {
    font-family: Raleway;
    font-weight: 700;
    font-size: 1.16rem;
    color: #0c3769
}
h6 {
    font-family: Raleway;
    font-weight: 600;
    font-size: 1rem;
    color: #0c3769;
}
li {
    font-family: Heebo;
    font-weight: 300;
    font-size: 1.02rem;
    color: #0c3769;
    padding-right: 16px;
    margin-top: 15px;
    text-align: justify;
}

/* ------------ Main Content ----------- */

div.country-section {
    margin-bottom: 30px;
    padding-top: 20px;
}
.country h5 {
    /* -Subhedaline Why Mainflux-*/
    font-family: Raleway;
    font-weight: bolder;
    font-size: 1.44rem;
    color: #0c3769;
    margin-top: 0;
}
#soc-icons i {
    font-size: 1.8rem;
    color: #0c3769;
    padding-right: 26px;
    margin-bottom: 12px;
}
.country h6 {
    /* -Sub-Subheadline Why Mainflux-*/
    font-family: Raleway;
    font-weight: 300;
    font-size: 1.097rem;
    color: #0c3769;
    margin-top: -7px;
}
.country p {
    font-family: Heebo;
    font-weight: 300;
    font-size: 1.06rem;
    color: #0c3769;
    padding-right: 16px;
    margin-top: 15px;
}
div#map {
    max-width: 100%;
    max-height: auto;
    border: 0.8em solid #faf8f5;
}

/*------------------------------------------*/


/* ----- FOOTER ----- */

div.footer {
    margin-top: 35px;
    padding-top: 35px;
    background: #003c61;
}
div.footer h6 {
    font-family: Questrial;
    font-weight: 600;
    font-size: 1rem;
    color: white;
}
div.footer a {
    font-family: Heebo;
    font-weight: lighter;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, .78);
}
div.footer a:hover {
    text-decoration: none;
    color: #357dfc;
}
div.footer-col {
    margin-right: 45px
}
.input-group .form-control {
    background: transparent;
    border-color: rgba(255, 255, 255, .39);
    border-radius: 1px;
    height: 40px;
    color: white;
}
.input-group-addon {
    border-radius: 1px;
    border-color: rgba(255, 255, 255, .39);
    font-family: Questrial;
    font-weight: 600;
    color: white;
    background: transparent;
    padding: 11px 25px;
}
.input-group-btn-newsletter button {
    border-radius: 1px !important;
    border-color: rgba(255, 255, 255, .39) !important;
    font-family: Questrial !important;
    font-weight: 600 !important;
    color: white !important;
    background: transparent !important;
    padding: 10px 8px !important;
    margin-top: 0px;
    width: 100%;
}
.footer p {
    color: white;
}
.footer i {
    font-size: 19.7px;
    color: white;
    padding-right: 16px;
    margin-bottom: 12px;
}
#licence {
    margin-top: 8rem;
}
#licence p {
    font-family: Heebo;
    font-weight: lighter;
    font-size: 0.7rem;
    margin-left: 7.17rem;
}
#social {
    padding-left: 19.3vw;
}
.footer-line {
    height: 1px;
    width: 83vw;
    background: rgba(255, 255, 255, .3);
    margin-left: 7.7vw;
    margin-bottom: 11px;
}
#terms {
    margin-left: 0.78vw;
    padding: 1px;
}
#terms a {
    font-size: 0.8rem;
}
#mainflux-footer {
    text-align: right;
    padding-right: 1px;
    padding-top: 0;
    margin-top: -5px;
}
#mainflux-footer p {
    font-family: Montserrat;
    font-weight: 800;
    transform: scaleY(0.94);
    color: white;
    font-size: 1.4rem;
    padding-top: 0;
}

/*------------------------------------------*/


/* ----- MEDIA QUERIES ----- */


/* ---- medium desktops ---- */

@media screen and (min-width:1280px) and (max-width:1365px) {
    .about-bg-image {
        background-image: url('images/iot-about-us-background-main-992-1200.jpg');
        background-position: center center;
        background-size: cover;
        height: 268px;
        margin-top: 2.7rem;
    }
    .logo-edgex {
        margin-top: 22px;
        padding-left: 1.2vw;
    }
    .headline h2 {
        font-size: 3.16rem;
        color: white;
        margin-top: 1.8rem;
    }
}
@media screen and (min-width:1024px) and (max-width:1279px) {
    .about-bg-image {
        background-image: url('images/iot-about-us-background-main-992-1200.jpg');
        background-position: center center;
        background-size: cover;
        height: 258px;
        margin-top: 2.7rem;
    }
    .logo-edgex {
        margin-top: 22px;
        padding-left: 1.5vw;
    }
    .headline h2 {
        font-size: 3.16rem;
        color: white;
        margin-top: 1.8rem;
    }
    #main {
        margin: 0 1vw 0 4.2vw;
    }
}
@media screen and (min-width:992px) and (max-width:1023px) {
    .about-bg-image {
        background-image: url('images/iot-about-us-background-main-992-1200.jpg');
        background-position: center center;
        background-size: cover;
        height: 268px;
        margin-top: 2.7rem;
    }
    .logo-edgex {
        margin-top: 8px;
    }
    .headline h2 {
        font-size: 3.16rem;
        color: white;
        margin-top: 1.8rem;
    }
    .left-col {
        margin-left: auto;
        width: 18.3rem;
    }
    .right-col {
        margin-left: auto;
        width: 38.1rem;
    }
    #social {
        padding-left: 9.3vw;
    }
    .footer-line {
        height: 1px;
        width: 81vw;
        background: rgba(255, 255, 255, .3);
        margin-left: 10.1vw;
        margin-bottom: 11px;
    }
    #terms {
        margin-left: 1.08vw;
        padding: 1px;
    }
}
@media screen and (min-width:800px) and (max-width:991px) {
    .about-bg-image {
        background-image: url('images/iot-about-us-background-main-768-992.jpg');
        background-position: center center;
        background-size: cover;
        height: 230px;
        margin-top: 2.55rem;
    }
    .logo-edgex {
        margin-top: 22px;
        padding-left: 1vw;
    }
    .headline h2 {
        font-size: 2.75rem;
        margin-top: 1rem;
    }
    .navbar-default li {
        padding: inherit;
        margin-top: auto;
    }
    .navbar-default .navbar-brand {
        padding: inherit;
        font-size: 14px;
        padding-left: 1vw;
        padding-top: 1vw;
    }
    #main {
        margin: 0 1vw 0 4.2vw;
    }
}

/* ---- small devices ---- */

@media screen and (min-width:768px) and (max-width:799px) {
    .about-bg-image {
        background-image: url('images/iot-about-us-background-main-768-992.jpg');
        background-position: center center;
        background-size: cover;
        height: 290px;
        margin-top: 2.55rem;
    }
    .logo-edgex {
        margin-top: 8px;
    }
    .headline h2 {
        font-size: 2.75rem;
        margin-top: 12rem;
        padding-top: 4rem;
    }
    
    
    .navbar-default .navbar-right {
        margin: 0;
        padding: 0;
    }
    
      .navbar-default .navbar-brand {
        padding: inherit;
        font-size: 14px;  
    }
    
     .navbar-default li {
        padding: inherit;
        margin-top: auto;
          padding: 0;
        margin: 0;
    }
    
    
    .navbar-default a {
       padding: 0;
        margin: 0;
    }
    
    
    
    .left-col {
        margin-bottom: 20px
    }
    .footer-col {
        margin-bottom: 22px;
        padding-bottom: 15px;
    }
    div.input-group {
        width: 55%;
    }
    #licence {
        margin-top: 3.1rem;
    }
    .apache {
        margin-bottom: 0.4rem;
    }
    #licence p {
        margin-left: 0;
    }
    #social {
        padding-left: 1.3vw;
    }
    .footer-line {
        display: none;
    }
    #terms {
        margin-left: 0;
        margin-bottom: 0.3rem;
        padding: 1px;
    }
    #terms p {
        margin-left: 1.3vw;
    }
    #mainflux-footer {
        text-align: left;
    }
    .logo-edgex {
        margin-top: 14px;
        padding-left: 12px
    }
    .headline h2 {
        font-size: 2.75rem;
        margin-top: 1rem;
    }
    .navbar-default .navbar-brand {
        padding: inherit;
        font-size: 14px;
        padding-left: 1.1vw;
        padding-top: 1vw;
    }
    .navbar-default li {
        padding: inherit;
        margin-top: auto;
        font-size: 15px
    }
    #main {
        margin: 0 2vw 0 4vw;
    }
}
@media screen and (min-width:720px) and (max-width:767px) {
    #edgex {
        height: 28px;
    }
    .about-bg-image {
        background-image: url(images/iot-about-us-main-background-480-768.jpg');
        background-position: center center;
        background-size: cover;
        height: 258px;
    }
    .headline h2 {
        font-size: 2.75rem;
        margin-top: 1rem;
    }
    .logo-edgex {
        margin-top: 2px;
        padding-left: 2.2vw;
        padding-top: 7.2vw;
    }
}
#main {
    margin: 0 2vw 0 5vw;
}

/* ---- FOOTER ---- */

.footer-col {
    margin-bottom: 22px;
    padding-bottom: 15px;
}
div.input-group {
    width: 85%;
}
#licence {
    margin-top: 3.1rem;
}
.apache {
    margin-bottom: 0.4rem;
}
#licence p {
    margin-left: 0;
}
#social {
    padding-left: 1.3vw;
}
.footer-line {
    display: none;
}
#terms {
    margin-left: 0;
    margin-bottom: 0.3rem;
    padding: 1px;
}
#terms p {
    margin-left: 1.3vw;
}
#mainflux-footer {
    text-align: left;
}

}
@media screen and (min-width:600px) and (max-width:719px) {
    .about-bg-image {
        background-image: url(images/iot-about-us-main-background-480-768.jpg');
        background-position: center center;
        background-size: cover;
        height: 258px;
    }
    .headline h2 {
        font-size: 2.75rem;
        margin-top: auto;
    }
    .logo-edgex {
        margin-top: 2px;
        padding-left: 2.2vw;
        padding-top: 10.2vw;
    }
    #main {
        margin: 0 5vw 0 6vw;
    }
    /* ---- FOOTER ---- */
    
    .footer-col {
        margin-bottom: 22px;
        padding-bottom: 15px;
    }
    div.input-group {
        width: 85%;
    }
    #licence {
        margin-top: 3.1rem;
    }
    .apache {
        margin-bottom: 0.4rem;
    }
    #licence p {
        margin-left: 0;
    }
    #social {
        padding-left: 1.3vw;
    }
    .footer-line {
        display: none;
    }
    #terms {
        margin-left: 0;
        margin-bottom: 0.3rem;
        padding: 1px;
    }
    #terms p {
        margin-left: 1.3vw;
    }
    #mainflux-footer {
        text-align: left;
    }
}

/* ---- EXTRA small devices ---- */
@media screen and (min-width:480px) and (max-width:599px) {
    .about-bg-image {
        background-image: url('images/iot-about-us-main-background-480-768.jpg');
        background-position: center center;
        background-size: cover;
        height: 180px;
        margin-top: 3.15rem;
    }
    .logo-edgex {
        margin-top: -1px;
        margin-left: 1vw;
    }
    .headline h2 {
        font-size: 2.23rem;
        margin-top: 0.2rem;
    }
    .headline h1 {
        font-size: 1.27rem;
    }
    .headline h3 {
        font-size: 1.1rem;
    }
    .left-col {
        margin-bottom: 20px;
    }
    /* ---- FOOTER ---- */
    
    .footer-col {
        margin-bottom: 22px;
        padding-bottom: 15px;
    }
    div.input-group {
        width: 85%;
    }
    #licence {
        margin-top: 3.1rem;
    }
    .apache {
        margin-bottom: 0.4rem;
    }
    #licence p {
        margin-left: 0;
    }
    #social {
        padding-left: 1.3vw;
    }
    .footer-line {
        display: none;
    }
    #terms {
        margin-left: 0;
        margin-bottom: 0.3rem;
        padding: 1px;
    }
    #terms p {
        margin-left: 1.3vw;
    }
    #mainflux-footer {
        text-align: left;
    }
    .logo-edgex {
        margin-top: 1px;
        padding-left: 2.2vw;
        padding-top: 1.2vw;
    }
    #main {
        margin: 0 5vw 0 6vw;
    }
}
@media screen and (min-width:412px) and (max-width:479px) {
    .about-bg-image {
        background-image: url('images/iot-about-us-main-background-480-768.jpg');
        background-position: center center;
        background-size: cover;
        height: 180px;
        margin-top: 3.15rem;
    }
    .headline h2 {
        font-size: 2.23rem;
        margin-top: 0.1rem;
    }
    .logo-edgex {
        padding-left: 4.2vw;
        padding-top: 1.2vw;
    }
    #main {
        margin: 0 5vw 0 6vw;
    }
    /* ---- FOOTER ---- */
    
    .footer-col {
        margin-bottom: 22px;
        padding-bottom: 15px;
    }
    div.input-group {
        width: 95%;
    }
    #licence {
        margin-top: 3.1rem;
    }
    .apache {
        margin-bottom: 0.4rem;
    }
    #licence p {
        margin-left: 0;
        font-size: 0.66937rem;
    }
    #social {
        padding-left: 5.5vw;
    }
    .footer-line {
        display: none;
    }
    #terms {
        margin-left: 0;
        margin-bottom: 0.3rem;
        padding: 1px;
    }
    #terms p {
        margin-left: 1.3vw;
    }
    #mainflux-footer {
        text-align: left;
    }
}
@media screen and (min-width:360px) and (max-width:411px) {
    .about-bg-image {
        background-image: url('images/iot-about-us-main-background-480-768.jpg');
        background-position: center center;
        background-size: cover;
        height: 280px;
    }
    .headline h2 {
        font-size: 2.23rem;
        margin-top: 0.8rem;
    }
    .logo-edgex {
        margin-top: 48px;
        padding-left: 2.2vw;
        padding-top: 1.2vw;
    }
    #main {
        margin: 0 5vw 0 9vw;
    }
    /* ---- FOOTER ---- */
    
    .footer-col {
        margin-bottom: 22px;
        padding-bottom: 15px;
    }
    div.input-group {
        width: 95%;
    }
    #licence {
        margin-top: 3.1rem;
    }
    .apache {
        margin-bottom: 0.4rem;
    }
    #licence p {
        margin-left: 0;
        font-size: 0.66937rem;
    }
    #social {
        padding: 0 0 0 15px
    }
    .footer-line {
        display: none;
    }
    #terms {
        margin-left: 0;
        margin-bottom: 0.3rem;
        padding: 0 0 0 12px;
    }
    #mainflux-footer {
        text-align: left;
        padding: 0 0 0 16px;
    }
}

/* ---- EXTRA Extra small devices ---- */
@media only screen and (min-width:320px) and (max-width:359px) {
    .about-bg-image {
        background-image: url('images/iot-about-us-main-background-320-480.png');
        background-position: center center;
        background-size: cover;
        height: 165px;
        margin-top: 3.15rem;
    }
    .headline h2 {
        font-size: 1.7rem;
        margin-top: 1rem;
    }
    .headline h1 {
        font-size: 0.99rem;
        margin-top: 0.5rem;
    }
    .headline h3 {
        font-size: 0.83rem;
    }
    div.country-section {
        padding: 0;
        margin-top: 25px
    }
    .country-section p {
        font-size: 0.86rem;
        margin-top: 1px;
    }
    #soc-icons i {
        font-size: 1.5rem
    }
    /* ---- FOOTER ---- */
    
    .footer-col {
        margin-bottom: 22px;
        padding-bottom: 15px;
    }
    div.input-group {
        width: 95%;
    }
    #licence {
        margin-top: 3.1rem;
    }
    .apache {
        margin-bottom: 0.4rem;
    }
    #licence p {
        margin-left: 0;
        font-size: 0.66937rem;
    }
    #social {
        padding: 0 0 0 15px;
    }
    .footer i {
        font-size: 15px;
    }
    .footer-line {
        display: none;
    }
    #terms {
        margin-left: 0;
        margin-bottom: 0.3rem;
        padding: 0 0 0 11px;
    }
    #terms a {
        font-size: 12px;
    }
    #mainflux-footer {
        text-align: left;
    }
    .logo-edgex {
        padding-left: 5vw;
        padding-top: 0.2vw;
    }
    #main {
        margin: 0 5vw 0 7vw;
    }
}
