html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
    margin-bottom: 40px;
}
body {
    line-height: 1;
}

/* ---- NAVIGATION ---- */

.navbar-default {
    border: none;
    margin-bottom: 0;
    background-color: #0b1e3b;
    border-radius: 0;
    background: rgb(1, 4, 28);
    background: rgb(3, 18, 42);
    background: rgb(3, 18, 42);
    background: linear-gradient(90deg, rgba(3, 18, 42, 1) 27%, rgba(13, 46, 96, 1) 100%);
}
.navbar-default .navbar-brand {
    color: #006599;
    font-family: Montserrat;
    font-weight: 800;
    transform: scaleY(0.95);
}
#brand {
    color: white;
    margin-left: 22px;
}
.navbar-default .navbar-nav>li>a {
    color: white;
    font-family: Raleway;
    font-weight: 500;
    transform: scaleY(0.96);
    font-size: 14px;
}
.navbar-default .navbar-nav>li>a:visited {
    color: white;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #2891c7;
}
.navbar-default .navbar-nav>li>a:active {
    color: #2891c7;
}
a#active {
    color: #2891c7;
}
.navbar-default .navbar-brand {
    color: white;
}
#brand {
    color: #006599;
    margin-left: 2px;
}
.navbar-default .navbar-brand:hover {
    color: white;
}
.navbar-toggle {
    border: none;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #e5ebf4;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #006599;
    ;
}
.navbar-collapse {
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
    font-family: Montserrat;
    font-size: 14px;
}
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #006599;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
    color: white;
    font-family: Montserrat;
    font-size: 14px;
}
.dropdown-menu a:hover {
    background-color: white;
    color: white;
    font-family: Montserrat;
    font-size: 14px;
}
.dropdown:hover .dropdown-menu {
    display: block;
    background-color: #006599;
    color: white;
}
.dropdown:hover {
    background-color: #006599;
    color: white;
}
.dropdown-menu>li>a {
    color: white;
    font-size: 14px;
}
h6 {
    font-size: 12px;
    font-family: Montserrat;
    font-weight: 600;
    color: #003466;
    line-height: normal;
    text-align: center;
}

/* ---- MAIN HOME ---- */

.bg-image {
    background-image: linear-gradient(to right top, #01041c, #02071e, #030a21, #040d23, #040f26, #05132c, #041631, #041937, #051e41, #07234b, #0a2955, #0d2e60);
    z-index: 1;
}
#shape {
    z-index: 2;
    opacity: 0.4;
    height: 580px;
    margin-top: 10px;
}
h1 {
    color: white;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    margin-top: -385px;
    line-height: normal;
    text-align: center;
    opacity: 0.999;
}
h3#home-sub {
    font-family: Montserrat;
    color: white;
    font-size: 0.9rem;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: 0.7px;
    text-align: center;
    opacity: 0.999;
}
.headline {
    margin-bottom: 85px;
}
.home-button {
    margin-bottom: 205px;
}
.btn {
    font-family: Montserrat;
    font-size: 12px;
    width: 190px;
}
#contactus-home {
    border: 3px solid #006599;
    background-color: transparent;
    color: #006599;
    font-weight: 600;
    width: 175px;
    border-radius: 3px;
}
#contactus-home:hover {
    background-color: #035e8d;
    color: white;
}
h3.section-subheadline {
    font-size: 30px;
    font-family: Montserrat;
    font-weight: 800;
    color: rgb(0, 52, 102);
    margin-bottom: 20px;
    text-align: center;
}

/*----------------------------------*/


/* ---------- Main Content ----------- */

h3 {
    font-family: Montserrat;
    font-weight: bolder;
    font-size: 26px;
    color: #061856;
    text-align: center;
}
#action {
    font-family: Montserrat;
    border: 3px solid #061856;
    background-color: #061856;
    color: white;
    font-weight: 600;
    width: 210px;
    border-radius: 4px;
    font-size: 14px;
    margin-top: 45px;
}
#action:hover {
    background-color: #035e8d;
    color: white;
    border-color: #035e8d;
}
h4 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 22px;
    color: #061856;
    text-align: center;
}
p.introduction {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 16px;
    color: #0c3769;
    padding-right: 16px;
    margin-top: 15px;
    text-align: justify;
    line-height: 21px;
}
h5 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 20px;
    color: #061856;
}
h5.about {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 20px;
    color: #061856;
}
h6 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    color: #0c3769;
    text-align: left;
}
.adbullets {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 16px;
    color: #0c3769;
    padding-right: 16px;
    margin-top: 15px;
    text-align: justify;
}
a#email {
    color: #0c3769;
    font-weight: 400;
}

/* ----- FOOTER ----- */

div.footer {
    background: #071440;
    padding-top: 35px;
    margin-top: 0;
}
div.footer h6 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    text-align: left;
}
div.footer a {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, .78);
}
div.footer a:hover {
    text-decoration: none;
    color: #357dfc;
}
.footer-col {
    margin-left: 28px;
    width: auto;
    margin-right: 30px
}
.input-group .form-control {
    background: transparent;
    border-color: rgba(255, 255, 255, .39);
    border-radius: 1px;
    height: 40px;
    color: white;
}
.input-group-addon {
    border-radius: 1px;
    border-color: rgba(255, 255, 255, .39);
    font-family: Montserrat;
    font-weight: 600;
    color: white;
    background: transparent;
    padding: 11px 25px;
}
.input-group-btn-newsletter button {
    border-radius: 1px !important;
    border-color: rgba(255, 255, 255, .39) !important;
    font-family: Montserrat !important;
    font-weight: 600 !important;
    color: white !important;
    background: transparent !important;
    padding: 10px 8px !important;
    margin-top: 0px;
    width: 100%;
}
.footer p {
    color: white;
}
.footer i {
    font-size: 19.7px;
    color: white;
    padding-right: 16px;
    margin-bottom: 12px;
}
#licence {
    margin-top: 8rem;
}
#licence p {
    font-family: Montserrat;
    font-weight: lighter;
    font-size: 0.7rem;
    margin-left: 7.17rem
}
#social {
    padding-left: 18vw;
}
.footer-line {
    height: 1px;
    width: 83vw;
    background: rgba(255, 255, 255, .3);
    margin-left: 7.7vw;
    margin-bottom: 11px;
}
#terms {
    margin-left: 0.78vw;
    padding: 1px;
}
#terms a {
    font-size: 0.8rem;
}
#mainflux-footer {
    text-align: right;
    padding-right: 1px;
    padding-top: 0;
    margin-top: -5px;
}
#mainflux-footer p {
    font-family: Montserrat;
    font-weight: 800;
    transform: scaleY(0.94);
    color: white;
    font-size: 1.4rem;
    padding-top: 0;
    padding-bottom: 15px;
}

/*------------------------------------*/


/* ----- MEDIA QUERIES ----- */


/* ---- Extra Large Desktops ---- */

@media screen and (min-width:1920px) and (max-width:2560px) {}
.footer-line {
    width: 85vw;
    margin-left: 5.9vw;
}
#social {
    padding-left: 24.7vw;
}

}
@media screen and (min-width:1600px) and (max-width:1919px) {
    section.conferences {
        display: none;
    }
    #logoconf {
        margin-left: -82px;
    }
    /* ---- FOOTER ---- */
    
    .footer-line {
        width: 84vw;
        margin-left: 6.9vw;
    }
    #social {
        padding-left: 21.7vw;
    }
}
@media screen and (min-width:1440px) and (max-width:1559px) {
    section.conferences {
        display: none;
    }
    #logoconf {
        margin-left: -82px;
    }
}
@media screen and (min-width:1366px) and (max-width:1399px) {
    #shape {
        z-index: 2;
        opacity: 0.19;
        height: 600px;
        margin-top: 20px;
    }
    h1 {
        color: white;
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 700;
        margin-top: -385px;
        line-height: normal;
        text-align: center;
        opacity: 0.999;
    }
    h3#home-sub {
        font-family: Montserrat;
        color: white;
        font-size: 0.9rem;
        font-weight: 200;
        line-height: 20px;
        letter-spacing: 0.7px;
        text-align: center;
        opacity: 0.999;
    }
    .headline {
        margin-bottom: 85px;
    }
    .home-button {
        margin-bottom: 205px;
    }
    #soc-icons i {
        font-size: 1.5rem;
        color: #0c3769;
        padding-right: 24px;
        margin-bottom: 12px;
    }
    section.conferences {
        display: none;
    }
    /* ---- FOOTER ---- */
    
    .footer-line {
        width: 82vw;
        margin-left: 8.1vw;
    }
    #social {
        padding-left: 17.7vw;
    }
}
@media screen and (min-width:1280px) and (max-width:1365px) {
    #shape {
        z-index: 2;
        opacity: 0.19;
        height: 600px;
        margin-top: 20px;
    }
    h1 {
        color: white;
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 700;
        margin-top: -385px;
        line-height: normal;
        text-align: center;
        opacity: 0.999;
    }
    h3#home-sub {
        font-family: Montserrat;
        color: white;
        font-size: 0.9rem;
        font-weight: 200;
        line-height: 20px;
        letter-spacing: 0.7px;
        text-align: center;
        opacity: 0.999;
    }
    .headline {
        margin-bottom: 85px;
    }
    .home-button {
        margin-bottom: 205px;
    }
    /* ---- FOOTER ---- */
    
    .footer-col {
        margin-left: 50px;
        width: auto;
    }
    .footer-line {
        width: 82vw;
        margin-left: 8.5vw;
    }
    #social {
        padding-left: 16.4vw;
    }
}
@media screen and (min-width:1024px) and (max-width:1279px) {
    #brand {
        margin-left: 7px;
    }
    #shape {
        z-index: 2;
        opacity: 0.19;
        height: 600px;
        margin-top: 20px;
    }
    h1 {
        color: white;
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 700;
        margin-top: -385px;
        line-height: normal;
        text-align: center;
        opacity: 0.999;
    }
    h3#home-sub {
        font-family: Montserrat;
        color: white;
        font-size: 0.9rem;
        font-weight: 200;
        line-height: 20px;
        letter-spacing: 0.7px;
        text-align: center;
        opacity: 0.999;
    }
    .headline {
        margin-bottom: 85px;
    }
    .home-button {
        margin-bottom: 205px;
    }
    .job-section {
        margin-left: 2vw;
    }
    /* ---- FOOTER ---- */
    
    #licence p {
        margin-left: 9vw;
    }
    .footer-line {
        width: 82vw;
        margin-left: 8.5vw;
    }
    #social {
        padding-left: 7vw;
    }
}
@media screen and (min-width:800px) and (max-width:1023px) {
    .navbar-default .navbar-nav {
        margin-right: 2px;
    }
    .navbar-default .navbar-nav>li>a {
        color: white;
        font-family: Raleway;
        font-weight: 500;
        transform: scaleY(0.96);
        margin-top: 4px;
        padding: 8px;
        font-size: 12px;
    }
    #brand {
        margin-left: 7px;
    }
    #shape {
        z-index: 2;
        opacity: 0.19;
        height: 600px;
        margin-top: 20px;
    }
    h1 {
        color: white;
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 700;
        margin-top: -385px;
        line-height: normal;
        text-align: center;
        opacity: 0.999;
    }
    h3#home-sub {
        font-family: Montserrat;
        color: white;
        font-size: 0.9rem;
        font-weight: 200;
        line-height: 20px;
        letter-spacing: 0.7px;
        text-align: center;
        opacity: 0.999;
    }
    .headline {
        margin-bottom: 85px;
    }
    .home-button {
        margin-bottom: 205px;
    }
    .job-section {
        margin-left: 2vw;
    }
    /* ---- FOOTER ---- */
    
    .footer-col {
        margin-bottom: 22px;
        padding-bottom: 15px;
        margin-left: 10px;
    }
    div.input-group {
        width: 55%;
    }
    .footer-line {
        display: none;
    }
    #licence {
        margin-top: 3.1rem;
        width: 90%
    }
    .apache {
        margin-bottom: 1.4rem;
        margin-left: 2px;
    }
    #licence p {
        margin-left: 0;
    }
    #social {
        padding-left: 2.3vw;
    }
    .footer-line {
        display: none;
    }
    #terms {
        margin-bottom: 0.3rem;
        margin-left: -2px;
    }
    #terms p {
        margin-left: 2.3vw;
        margin-bottom: 12px;
    }
    #mainflux-footer {
        text-align: left;
        margin-left: 2px;
    }
}
@media screen and (min-width:768px) and (max-width:799px) {
    .navbar-default .navbar-nav {
        margin-right: 2px;
    }
    .navbar-default .navbar-nav>li>a {
        color: white;
        font-family: Raleway;
        font-weight: 500;
        transform: scaleY(0.96);
        margin-top: 4px;
        padding: 8px;
        font-size: 12px;
    }
    #brand {
        margin-left: 1px;
        padding-left: 7px;
    }
    #shape {
        z-index: 2;
        opacity: 0.19;
        height: 600px;
        margin-top: 20px;
    }
    h1 {
        color: white;
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 700;
        margin-top: -385px;
        line-height: normal;
        text-align: center;
        opacity: 0.999;
    }
    h3#home-sub {
        font-family: Montserrat;
        color: white;
        font-size: 0.9rem;
        font-weight: 200;
        line-height: 20px;
        letter-spacing: 0.7px;
        text-align: center;
        opacity: 0.999;
    }
    .headline {
        margin-bottom: 85px;
    }
    .home-button {
        margin-bottom: 205px;
    }
    .job-section {
        margin-left: 3vw;
    }
    .adbullets {
        line-height: 21px;
    }
    /* ---- FOOTER ---- */
    
    .footer-col {
        margin-bottom: 22px;
        padding-bottom: 15px;
        margin-left: 10px;
    }
    div.input-group {
        width: 55%;
    }
    #licence {
        margin-top: 3.1rem;
    }
    .apache {
        margin-bottom: 0.4rem;
        width: auto;
    }
    #licence p {
        margin-left: 0;
    }
    .footer-line {
        display: none;
    }
    #licence {
        margin-top: 3.1rem;
        width: 90%;
    }
    .apache {
        margin-bottom: 1.4rem;
        margin-left: 7px;
    }
    #licence p {
        margin-left: 0;
    }
    #social {
        padding-left: 2.4vw;
    }
    .footer-line {
        display: none;
    }
    #terms {
        margin-left: 0;
        margin-bottom: 0.3rem;
        padding: 1px;
        margin-left: 7px;
    }
    #terms p {
        margin-left: 2.3vw;
        margin-bottom: 12px;
    }
    #mainflux-footer {
        text-align: left;
        margin-left: 7px;
    }
}
@media screen and (min-width:720px) and (max-width:767px) {
    .navbar-default .navbar-nav {
        margin-right: 2px;
    }
    .navbar-default .navbar-nav>li>a {
        color: white;
        font-family: Raleway;
        font-weight: 500;
        transform: scaleY(0.96);
        margin-top: 4px;
        padding: 8px;
        font-size: 14px;
    }
    #brand {
        margin-left: 11px;
        padding-left: 7px;
    }
    #shape {
        z-index: 2;
        opacity: 0.19;
        height: 600px;
        margin-top: 20px;
    }
    h1 {
        color: white;
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 700;
        margin-top: -385px;
        line-height: normal;
        text-align: center;
        opacity: 0.999;
    }
    h3#home-sub {
        font-family: Montserrat;
        color: white;
        font-size: 0.9rem;
        font-weight: 200;
        line-height: 20px;
        letter-spacing: 0.7px;
        text-align: center;
        opacity: 0.999;
    }
    .headline {
        margin-bottom: 85px;
    }
    .home-button {
        margin-bottom: 205px;
    }
    .job-section {
        margin-left: 4vw;
    }
    .adbullets {
        line-height: 21px;
    }
    /* ---- FOOTER ---- */
    
    .footer-col {
        margin-bottom: 22px;
        padding-bottom: 15px;
        padding-left: 20px;
        margin-left: 0
    }
    div.input-group {
        width: 85%;
    }
    #licence {
        margin-top: 3.1rem;
        width: 90%;
    }
    .apache {
        margin-bottom: 1.4rem;
        margin-left: 5px;
    }
    #licence p {
        margin-left: 0;
    }
    #social {
        padding-left: 1.9vw;
    }
    .footer-line {
        display: none;
    }
    #terms {
        margin-bottom: 0.3rem;
        padding: 1px;
        margin-left: 5px;
    }
    #terms p {
        margin-left: 1.7vw;
        margin-bottom: 12px;
    }
    #mainflux-footer {
        text-align: left;
        margin-left: 3px;
    }
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav>.open>a,
    .navbar-default .navbar-nav>.open>a:focus,
    .navbar-default .navbar-nav>.open>a:hover {
        color: white;
        background-color: #006599;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: white;
        background-color: #006599;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        color: #061856;
    }
}
@media screen and (min-width:600px) and (max-width:719px) {
    .navbar-default .navbar-nav {
        margin-right: 2px;
    }
    .navbar-default .navbar-nav>li>a {
        color: white;
        font-family: Raleway;
        font-weight: 500;
        transform: scaleY(0.96);
        margin-top: 4px;
        padding: 8px;
        font-size: 14px;
    }
    #brand {
        margin-left: 11px;
        padding-left: 7px;
    }
    #shape {
        z-index: 2;
        opacity: 0.19;
        height: 500px;
        margin-top: 20px;
    }
    h1 {
        color: white;
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 700;
        margin-top: -385px;
        line-height: normal;
        text-align: center;
        opacity: 0.999;
    }
    h3#home-sub {
        font-family: Montserrat;
        color: white;
        font-size: 0.9rem;
        font-weight: 200;
        line-height: 20px;
        letter-spacing: 0.7px;
        text-align: center;
        opacity: 0.999;
    }
    .headline {
        margin-bottom: 85px;
    }
    .home-button {
        margin-bottom: 205px;
    }
    .job-section {
        margin-left: 4vw;
    }
    .adbullets {
        line-height: 21px;
    }
    /* ---- FOOTER ---- */
    
    .footer-col {
        margin-bottom: 22px;
        padding-bottom: 15px;
        margin-left: 12px
    }
    div.input-group {
        width: 85%;
    }
    #licence {
        margin-top: 3.1rem;
        width: 90%
    }
    .apache {
        margin-bottom: 1.4rem;
        margin-left: 7px;
    }
    #licence p {
        margin-left: 0;
    }
    #social {
        padding-left: 3.4vw;
    }
    .footer-line {
        display: none;
    }
    #terms {
        margin-left: 0;
        margin-bottom: 0.3rem;
        padding: 1px;
        margin-left: 7px;
    }
    #terms p {
        margin-left: 2.3vw;
        margin-bottom: 12px;
    }
    #mainflux-footer {
        text-align: left;
        margin-left: 7px;
    }
}
@media screen and (min-width:480px) and (max-width:599px) {
    .navbar-default .navbar-nav {
        margin-right: 2px;
    }
    .navbar-default .navbar-nav>li>a {
        color: white;
        font-family: Raleway;
        font-weight: 500;
        transform: scaleY(0.96);
        margin-top: 4px;
        padding: 8px;
        font-size: 14px;
    }
    #brand {
        margin-left: 1px;
        padding-left: 12px;
    }
    #brand {
        margin-left: 11px;
        padding-left: 7px;
    }
    #shape {
        z-index: 2;
        opacity: 0.19;
        height: 400px;
        margin-top: 20px;
    }
    h1 {
        color: white;
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 700;
        margin-top: -255px;
        line-height: normal;
        text-align: center;
        opacity: 0.999;
    }
    h3#home-sub {
        font-family: Montserrat;
        color: white;
        font-size: 0.9rem;
        font-weight: 200;
        line-height: 20px;
        letter-spacing: 0.7px;
        text-align: center;
        opacity: 0.999;
    }
    .headline {
        margin-bottom: 85px;
    }
    .home-button {
        margin-bottom: 205px;
    }
    .job-section {
        margin-left: 4vw;
    }
    .adbullets {
        line-height: 21px;
    }
    /* ---- FOOTER ---- */
    
    .footer-col {
        margin-bottom: 22px;
        padding-bottom: 15px;
        margin-left: 6px;
        width: 85%;
    }
    div.input-group {
        width: 85%;
    }
    #licence {
        margin-top: 3.1rem;
        width: 90%;
    }
    .apache {
        margin-bottom: 1em;
        padding-left: 19px;
    }
    #licence p {
        margin-left: 0;
    }
    #social {
        padding-left: 3.8vw;
    }
    .footer-line {
        display: none;
    }
    #terms {
        margin-left: 0;
        margin-bottom: 0.3rem;
        padding: 1px;
    }
    #terms p {
        margin-left: 3.3vw;
    }
    #mainflux-footer {
        text-align: left;
        padding: 9px 0 16px 16px;
    }
}
@media screen and (min-width:414px) and (max-width:479px) {
    .navbar-default .navbar-nav {
        margin-right: 2px;
    }
    .navbar-default .navbar-nav>li>a {
        color: white;
        font-family: Raleway;
        font-weight: 500;
        transform: scaleY(0.96);
        margin-top: 4px;
        padding: 8px;
        font-size: 14px;
    }
    #brand {
        margin-left: 11px;
        padding-left: 7px;
    }
    #shape {
        z-index: 2;
        opacity: 0.6;
        height: 390px;
        margin-top: 40px;
    }
    h1 {
        color: white;
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 700;
        margin-top: -305px;
        line-height: normal;
        text-align: center;
        opacity: 0.999;
    }
    h3#home-sub {
        font-family: Montserrat;
        color: white;
        font-size: 13px;
        font-weight: 200;
        line-height: 20px;
        letter-spacing: 0.7px;
        text-align: center;
        opacity: 0.999;
    }
    .headline {
        margin-left: 0 0 85px 0;
        padding: 0 0 0 0;
    }
    .home-button {
        margin-bottom: 170px;
    }
    #elm {
        text-align: left;
    }
    .job-section {
        margin-left: 4vw;
    }
    .adbullets {
        line-height: 21px;
        text-align: left;
    }
    /* ---- FOOTER ---- */
    
    .footer-col {
        margin-bottom: 22px;
        padding-bottom: 15px;
        padding-left: 14px;
        margin-left: 0;
        width: 67%;
    }
    .footer-col p {
        padding-left: 0;
    }
    div.input-group {
        width: 85%;
    }
    #licence {
        margin-top: 3.1rem;
        width: 87%;
    }
    .apache {
        margin-bottom: 0.9rem;
    }
    #licence p {
        margin-left: 0;
        font-size: 0.66937rem;
    }
    #social {
        padding-left: 3.5vw;
        padding-right: 0;
        margin-right: 0;
        width: 389px;
    }
    .footer-line {
        display: none;
    }
    .footer i {
        font-size: 19px;
    }
    #terms {
        margin-left: 0;
        margin-bottom: 0.3rem;
        padding: 1px;
    }
    #terms p {
        margin-left: 2.3vw;
        font-size: 8px;
    }
    #terms a {
        font-size: 11px;
        line-height: 18px;
    }
    #mainflux-footer {
        text-align: left;
        padding: 9px 0 0 9px;
    }
    #mainflux-footer p {
        font-size: 16px;
    }
}
@media screen and (min-width:412px) and (max-width:413px) {
    .navbar-default .navbar-nav {
        margin-right: 2px;
    }
    .navbar-default .navbar-nav>li>a {
        color: white;
        font-family: Raleway;
        font-weight: 500;
        transform: scaleY(0.96);
        margin-top: 4px;
        padding: 8px;
        font-size: 14px;
    }
    #brand {
        margin-left: 1px;
        padding-left: 12px;
    }
    #brand {
        margin-left: 11px;
        padding-left: 7px;
    }
    #shape {
        z-index: 2;
        opacity: 0.6;
        height: 390px;
        margin-top: 40px;
    }
    h1 {
        color: white;
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 700;
        margin-top: -305px;
        line-height: normal;
        text-align: center;
        opacity: 0.999;
    }
    h3#home-sub {
        font-family: Montserrat;
        color: white;
        font-size: 13px;
        font-weight: 200;
        line-height: 20px;
        letter-spacing: 0.7px;
        text-align: center;
        opacity: 0.999;
    }
    .headline {
        margin-left: 0 0 85px 0;
        padding: 0 0 0 0;
    }
    .home-button {
        margin-bottom: 170px;
    }
    #elm {
        text-align: left;
    }
    .job-section {
        margin-left: 4vw;
    }
    .adbullets {
        line-height: 21px;
        text-align: left;
    }
    /* ---- FOOTER ---- */
    
    .footer-col {
        margin-bottom: 22px;
        padding-bottom: 15px;
        padding-left: 14px;
        margin-left: 0;
        width: 67%;
    }
    .footer-col p {
        padding-left: 0;
    }
    div.input-group {
        width: 85%;
    }
    #licence {
        margin-top: 3.1rem;
        width: 87%;
    }
    .apache {
        margin-bottom: 0.9rem;
    }
    #licence p {
        margin-left: 0;
        font-size: 0.66937rem;
    }
    #social {
        padding-left: 3.5vw;
        padding-right: 0;
        margin-right: 0;
        width: 389px;
    }
    .footer-line {
        display: none;
    }
    .footer i {
        font-size: 19px;
    }
    #terms {
        margin-left: 0;
        margin-bottom: 0.3rem;
        padding: 1px;
    }
    #terms p {
        margin-left: 2.3vw;
        font-size: 8px;
    }
    #terms a {
        font-size: 11px;
        line-height: 18px;
    }
    #mainflux-footer {
        text-align: left;
        padding: 9px 0 0 9px;
    }
    #mainflux-footer p {
        font-size: 16px;
    }
}
@media screen and (min-width:384px) and (max-width:411px) {
    .navbar-default .navbar-nav {
        margin-right: 2px;
    }
    .navbar-default .navbar-nav>li>a {
        color: white;
        font-family: Raleway;
        font-weight: 500;
        transform: scaleY(0.96);
        margin-top: 4px;
        padding: 8px;
        font-size: 14px;
    }
    #brand {
        margin-left: 11px;
        padding-left: 7px;
    }
    #shape {
        z-index: 2;
        opacity: 0.6;
        height: 360px;
        margin-top: 40px;
    }
    h1 {
        color: white;
        font-family: Montserrat;
        font-size: 28px;
        font-weight: 700;
        margin-top: -305px;
        line-height: normal;
        text-align: center;
        opacity: 0.999;
    }
    h3#home-sub {
        font-family: Montserrat;
        color: white;
        font-size: 12px;
        font-weight: 200;
        line-height: 20px;
        letter-spacing: 0.7px;
        text-align: center;
        opacity: 0.999;
    }
    .headline {
        margin-left: 0 0 85px 0;
        padding: 0 0 0 0;
    }
    .home-button {
        margin-bottom: 170px;
    }
    #elm {
        text-align: left;
    }
    .job-section {
        margin-left: 5vw;
    }
    .adbullets {
        line-height: 21px;
        text-align: left;
    }
    /* ---- FOOTER ---- */
    
    .footer-col {
        margin-bottom: 22px;
        padding-bottom: 15px;
        padding-left: 14px;
        margin-left: 0;
        width: 67%;
    }
    .footer-col p {
        padding-left: 0;
    }
    div.input-group {
        width: 85%;
    }
    #licence {
        margin-top: 3.1rem;
        width: 87%;
    }
    .apache {
        margin-bottom: 0.9rem;
    }
    #licence p {
        margin-left: 0;
        font-size: 0.66937rem;
    }
    #social {
        padding-left: 3.5vw;
        padding-right: 0;
        margin-right: 0;
        width: 356px;
    }
    .footer-line {
        display: none;
    }
    .footer i {
        font-size: 17px;
    }
    #terms {
        margin-left: 0;
        margin-bottom: 0.3rem;
        padding: 1px;
    }
    #terms p {
        margin-left: 2.3vw;
        font-size: 8px;
    }
    #terms a {
        font-size: 11px;
        line-height: 18px;
    }
    #mainflux-footer {
        text-align: left;
        padding: 9px 0 0 9px;
    }
    #mainflux-footer p {
        font-size: 16px;
    }
}
@media screen and (min-width:375px) and (max-width:383px) {
    .navbar-default .navbar-nav {
        margin-right: 2px;
    }
    .navbar-default .navbar-nav>li>a {
        color: white;
        font-family: Raleway;
        font-weight: 500;
        transform: scaleY(0.96);
        margin-top: 4px;
        padding: 8px;
        font-size: 14px;
    }
    #brand {
        margin-left: 11px;
        padding-left: 7px;
    }
    #shape {
        z-index: 2;
        opacity: 0.6;
        height: 330px;
        margin-top: 40px;
    }
    h1 {
        color: white;
        font-family: Montserrat;
        font-size: 28px;
        font-weight: 700;
        margin-top: -255px;
        line-height: normal;
        text-align: center;
        opacity: 0.999;
    }
    h3#home-sub {
        font-family: Montserrat;
        color: white;
        font-size: 12px;
        font-weight: 200;
        line-height: 20px;
        letter-spacing: 0.7px;
        text-align: center;
        opacity: 0.999;
    }
    .headline {
        margin-left: 0 0 85px 0;
        padding: 0 0 0 0;
    }
    .home-button {
        margin-bottom: 120px;
    }
    #elm {
        text-align: left;
    }
    .job-section {
        margin-left: 6vw;
    }
    .adbullets {
        line-height: 21px;
        text-align: left;
    }
    /* ---- FOOTER ---- */
    
    .footer-col {
        margin-bottom: 22px;
        padding-bottom: 15px;
        padding-left: 14px;
        margin-left: 0;
        width: 67%;
    }
    .footer-col p {
        padding-left: 0;
    }
    div.input-group {
        width: 85%;
    }
    #licence {
        margin-top: 3.1rem;
        width: 87%;
    }
    .apache {
        margin-bottom: 0.9rem;
    }
    #licence p {
        margin-left: 0;
        font-size: 0.66937rem;
    }
    #social {
        padding-left: 3.5vw;
        padding-right: 0;
        margin-right: 0;
        width: 356px;
    }
    .footer-line {
        display: none;
    }
    .footer i {
        font-size: 17px;
    }
    #terms {
        margin-left: 0;
        margin-bottom: 0.3rem;
        padding: 1px;
    }
    #terms p {
        margin-left: 2.3vw;
        font-size: 8px;
    }
    #terms a {
        font-size: 11px;
        line-height: 18px;
    }
    #mainflux-footer {
        text-align: left;
        padding: 9px 0 0 9px;
    }
    #mainflux-footer p {
        font-size: 16px;
    }
}
@media screen and (min-width:360px) and (max-width:374px) {
    .navbar-default .navbar-nav {
        margin-right: 2px;
    }
    .navbar-default .navbar-nav>li>a {
        color: white;
        font-family: Raleway;
        font-weight: 500;
        transform: scaleY(0.96);
        margin-top: 4px;
        padding: 8px;
        font-size: 14px;
    }
    #brand {
        margin-left: 1px;
        padding-left: 12px;
    }
    #shape {
        z-index: 2;
        opacity: 0.6;
        height: 310px;
        margin-top: 40px;
    }
    h1 {
        color: white;
        font-family: Montserrat;
        font-size: 28px;
        font-weight: 700;
        margin-top: -255px;
        line-height: normal;
        text-align: center;
        opacity: 0.999;
    }
    h3#home-sub {
        font-family: Montserrat;
        color: white;
        font-size: 11px;
        font-weight: 200;
        line-height: 17px;
        letter-spacing: 0.7px;
        text-align: center;
        opacity: 0.999;
    }
    .headline {
        margin-left: 0 0 85px 0;
        padding: 0;
    }
    .home-button {
        margin-bottom: 120px;
    }
    #elm {
        text-align: left;
    }
    .introduction {
        text-align: left;
    }
    .job-section {
        margin-left: 6vw;
    }
    .adbullets {
        line-height: 21px;
        text-align: left;
    }
    /* ---- FOOTER ---- */
    
    .footer-col {
        margin-bottom: 22px;
        padding-bottom: 15px;
        padding-left: 14px;
        margin-left: 0;
        width: 67%;
    }
    .footer-col p {
        padding-left: 0;
    }
    div.input-group {
        width: 85%;
    }
    #licence {
        margin-top: 3.1rem;
        width: 87%;
    }
    .apache {
        margin-bottom: 0.9rem;
    }
    #licence p {
        margin-left: 0;
        font-size: 0.66937rem;
    }
    #social {
        padding-left: 3.5vw;
        padding-right: 0;
        margin-right: 0;
        width: 336px;
    }
    .footer-line {
        display: none;
    }
    .footer i {
        font-size: 14px;
    }
    #terms {
        margin-left: 0;
        margin-bottom: 0.3rem;
        padding: 1px;
    }
    #terms p {
        margin-left: 2.3vw;
        font-size: 8px;
    }
    #terms a {
        font-size: 11px;
        line-height: 18px;
    }
    #mainflux-footer {
        text-align: left;
        padding: 9px 0 0 9px;
    }
    #mainflux-footer p {
        font-size: 16px;
    }
}
@media screen and (min-width:320px) and (max-width:359px) {
    .navbar-default .navbar-nav {
        margin-right: 2px;
    }
    .navbar-default .navbar-nav>li>a {
        color: white;
        font-family: Raleway;
        font-weight: 500;
        transform: scaleY(0.96);
        margin-top: 4px;
        padding: 8px;
        font-size: 14px;
    }
    #brand {
        margin-left: 1px;
        padding-left: 12px;
    }
    #brand {
        margin-left: 1px;
        padding-left: 12px;
    }
    #shape {
        z-index: 2;
        opacity: 0.6;
        height: 280px;
        margin-top: 40px;
    }
    h1 {
        color: white;
        font-family: Montserrat;
        font-size: 28px;
        font-weight: 700;
        margin-top: -255px;
        line-height: normal;
        text-align: center;
        opacity: 0.999;
    }
    h3#home-sub {
        font-family: Montserrat;
        color: white;
        font-size: 11px;
        font-weight: 200;
        line-height: 17px;
        letter-spacing: 0.7px;
        text-align: center;
        opacity: 0.999;
    }
    .headline {
        margin-left: 0 0 85px 0;
        padding: 0;
    }
    .home-button {
        margin-bottom: 120px;
    }
    #elm {
        text-align: left;
    }
    .introduction {
        text-align: left;
    }
    .job-section {
        margin-left: 6vw;
    }
    .adbullets {
        line-height: 21px;
        text-align: left;
    }
    /*---- FOOTER ---- */
    
    .footer-col {
        margin-bottom: 22px;
        padding-bottom: 15px;
        padding-left: 14px;
        margin-left: 0;
        width: 77%;
    }
    .footer-col p {
        padding-left: 0;
    }
    div.input-group {
        width: 85%;
    }
    #licence {
        margin-top: 3.1rem;
        width: 87%;
    }
    .apache {
        margin-bottom: 0.9rem;
    }
    #licence p {
        margin-left: 0;
        font-size: 0.66937rem;
    }
    #social {
        padding-left: 1vw;
        padding-right: 0;
        margin-right: 0;
        width: 292px;
    }
    .footer-line {
        display: none;
    }
    .footer i {
        font-size: 14px;
        padding-right: 13px;
    }
    #terms {
        margin-left: 0;
        margin-bottom: 0.3rem;
        padding: 1px;
    }
    #terms p {
        margin-left: 2.3vw;
        font-size: 8px;
    }
    #terms a {
        font-size: 11px;
        line-height: 18px;
    }
    #mainflux-footer {
        text-align: left;
        padding: 9px 0 0 9px;
    }
    #mainflux-footer p {
        font-size: 16px;
    }
}
